---
import MainLayout from "../layouts/MainLayout.astro";
import FollowtheArrow from "../components/FollowtheArrow.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import Baggrund from '../components/Baggrund.astro';
import { Image } from 'astro:assets';
import Scrollbar from "../components/Scrollbar.astro";
---
<MainLayout title="PPP">
	<article class="pt-12 lg:pt-36">
		<h2 class="lowercase w-[300px] md:w-[720px] lg:w-[950px] mx-auto text-center">Creating user interfaces with playful graphics and colors, always focused on functionality.</h2>
		<section>
			<h5 class="rotate-90 fixed -translate-x-28 md:-translate-x-32 -translate-y-32">Selma Louise Østrup Kangas-Kärki</h5>
		</section>
		<section class="fixed mr-5 translate-y-48 translate-x-[425px] md:translate-y-52 lg:translate-y-44 md:translate-x-[800px] lg:translate-x-[1100px]">
			<svg class="w-[40px]" id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 127.16">
			<defs>
				<style>
				.cls-1 {
					fill: #fff;
				}
				</style>
			</defs>
			<path class="cls-1" d="M19.12,117.89c1.5-10.09,2.79-20.65,3.8-31.66,2.04-22.33,2.6-43.24,2.21-62.43,0,0,5.22-.9,18.87,12.04C36.77,24.16,29.56,11.69,22.34,0,14.19,9.92,8.14,26.48,0,36.4c13.12-12.45,18.02-12.52,18.03-12.52,0,0,4.17,21.42,3.65,44.31-.32,14.05-6.41,44.43-12.55,58.97,1.31-.05,6.59-.05,7.9-.1.54-2.08,1.3-5.25,2.09-9.18h0Z"/>
			</svg>
		</section>
		<Baggrund></Baggrund>
	</article>
	<article class="-translate-y-[700px] md:-translate-y-[1000px]">
		<section id="who" class="flex flex-col justify-start mx-16 md:ml-24 lg:ml-32 mt-96">
			<h1 class="text-start mb-16">who am I?</h1>
			<p class="mx-2 w-[350px] md:mx-6 md:w-[450px] lg:w-[550px]">Hi, I'm Selma, a 24-year-old multimedia-student at KEA, living in Copenhagen, originally from Svendborg. I love combining creativity and technology to create engaging, functional designs that enhance the user experience.<br> <br> When I’m not lost in pixels and prototypes, I enjoy capturing natural, storytelling moments with my Nikon D5200 and 35mm lens.</p>
			<!-- <Image src="" alt=""></Image> -->
		</section>
		<section id="whatdoyouget" class="mt-[370px] mx-16 md:ml-24 lg:ml-40">
			<h1 class="mb-16">what do you get?</h1>
			<div class="md:grid grid-cols-2">
				<p>My approach focuses on creating responsive designs that adapt seamlessly to different screen sizes, optimizing the user experience across all devices. I apply UX design principles to ensure an intuitive and efficient user journey.</p>
				<div class="bg-[#1E35FE] flex flex-row justify-center gap-5 w-80 h-32 p-6 rounded-3xl">
					<svg class="" width="80" height="80" viewBox="0 0 115 115" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M57.5476 0C25.7253 0 0 26.3541 0 58.9576C0 85.0194 16.4831 107.08 39.3494 114.888C42.2083 115.475 43.2555 113.62 43.2555 112.059C43.2555 110.692 43.1613 106.007 43.1613 101.125C27.1529 104.64 23.8193 94.0972 23.8193 94.0972C21.2467 87.2643 17.4348 85.5081 17.4348 85.5081C12.1953 81.8964 17.8165 81.8964 17.8165 81.8964C23.6285 82.2869 26.6782 87.9483 26.6782 87.9483C31.8223 96.9278 40.1116 94.3906 43.4463 92.8286C43.9222 89.0216 45.4477 86.3862 47.0674 84.9224C34.2996 83.5555 20.8662 78.48 20.8662 55.8335C20.8662 49.3911 23.1514 44.1203 26.7725 40.021C26.2011 38.5572 24.1998 32.5041 27.3449 24.4027C27.3449 24.4027 32.204 22.8406 43.1601 30.4545C47.8508 29.164 52.6882 28.5074 57.5476 28.5019C62.4066 28.5019 67.3599 29.1859 71.9339 30.4545C82.8912 22.8406 87.7502 24.4027 87.7502 24.4027C90.8953 32.5041 88.8928 38.5572 88.3215 40.021C92.0379 44.1203 94.229 49.3911 94.229 55.8335C94.229 78.48 80.7956 83.4573 67.9324 84.9224C70.0291 86.7767 71.8385 90.2902 71.8385 95.8545C71.8385 103.761 71.7442 110.106 71.7442 112.057C71.7442 113.62 72.7926 115.475 75.6503 114.889C98.5167 107.079 115 85.0194 115 58.9576C115.094 26.3541 89.2745 0 57.5476 0Z" fill="white"/>
					</svg>		
					<h6 class="flex text-start justify-center items-center uppercase">Github <br> Repositories</h6>			
				</div>
			</div>
			<Scrollbar></Scrollbar>
		</section>
		<section></section>
		<section id="whatyougive" class="mt-[370px] mx-16 md:ml-24 lg:ml-40">
			<h1 class="mb-16">what can you give me?</h1>
			<p>I'm looking for an internship to gain hands-on experience and strengthen my skills in interaction design, UI/UX, and responsive design. I'm eager to learn from experienced designers and deepen my understanding of design processes and different Adobe Programs.</p>
			<div class="relative">
				<div class="flex flex-row">
					<h6 class="text-[#1e35fe] uppercase flex">before</h6>
					<h6 class="text-[#1e35fe] uppercase flex justify-end items-end">after</h6>
				</div>
				<svg class="absolute" id="first-bar" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 782 129">
				  <defs>
					<style>
					  .first_stroke {
						fill: #1e35fe;
					  }
				
					  .first_fill {
						fill: #fff;
					  }
				
					  .second_fill {
						fill: #262626;
					  }
					</style>
				  </defs>
				  <g>
					<path class="second_fill" d="M64.5,2.5h653c34.24,0,62,27.76,62,62h0c0,34.24-27.76,62-62,62H64.5c-34.24,0-62-27.76-62-62h0C2.5,30.26,30.26,2.5,64.5,2.5Z"/>
					<path class="first_stroke" d="M717.5,129H64.5C28.93,129,0,100.07,0,64.5S28.93,0,64.5,0h653c35.57,0,64.5,28.93,64.5,64.5s-28.93,64.5-64.5,64.5ZM64.5,5C31.69,5,5,31.69,5,64.5s26.69,59.5,59.5,59.5h653c32.81,0,59.5-26.69,59.5-59.5s-26.69-59.5-59.5-59.5H64.5Z"/>
				  </g>
				  <path class="first_fill" d="M62.05,89.72c-3.77,0-7.02-.61-9.75-1.82-2.69-1.26-5.16-3.14-7.41-5.65l6.63-6.57c1.47,1.69,3.1,3.01,4.88,3.96,1.82.91,3.92,1.37,6.31,1.37,2.17,0,3.84-.39,5.01-1.17,1.21-.78,1.82-1.86,1.82-3.25,0-1.26-.39-2.28-1.17-3.06s-1.82-1.45-3.12-2.01c-1.26-.56-2.67-1.1-4.22-1.62-1.52-.52-3.03-1.1-4.55-1.76-1.52-.69-2.93-1.54-4.23-2.53-1.26-1.04-2.27-2.32-3.06-3.84-.78-1.56-1.17-3.51-1.17-5.85,0-2.82.67-5.24,2.01-7.28,1.39-2.04,3.29-3.57,5.72-4.61,2.43-1.08,5.22-1.62,8.39-1.62s6.13.56,8.77,1.69c2.69,1.13,4.9,2.66,6.63,4.61l-6.63,6.57c-1.39-1.43-2.79-2.49-4.22-3.18-1.39-.69-2.97-1.04-4.74-1.04s-3.19.35-4.22,1.04c-1.04.65-1.56,1.6-1.56,2.86,0,1.17.39,2.12,1.17,2.86.78.69,1.8,1.3,3.06,1.82,1.3.52,2.71,1.04,4.22,1.56,1.56.52,3.1,1.13,4.62,1.82,1.52.69,2.9,1.58,4.16,2.66,1.3,1.04,2.34,2.38,3.12,4.03.78,1.6,1.17,3.6,1.17,5.98,0,4.38-1.56,7.82-4.68,10.33-3.12,2.47-7.43,3.71-12.93,3.71ZM113.92,89l-18.59-23.92,18.01-21.97h12.61l-20.28,23.85v-4.16l20.93,26.2h-12.68ZM86.17,89v-45.89h10.2v45.89h-10.2ZM130.85,89v-45.89h10.21v45.89h-10.21ZM149.9,89v-45.89h10.21v45.89h-10.21ZM157.76,89v-8.97h22.69v8.97h-22.69ZM186.33,89v-45.89h10.21v45.89h-10.21ZM194.2,89v-8.97h22.68v8.97h-22.68ZM234.45,89.72c-3.77,0-7.02-.61-9.75-1.82-2.69-1.26-5.16-3.14-7.41-5.65l6.63-6.57c1.47,1.69,3.1,3.01,4.88,3.96,1.82.91,3.92,1.37,6.3,1.37,2.17,0,3.84-.39,5.01-1.17,1.21-.78,1.82-1.86,1.82-3.25,0-1.26-.39-2.28-1.17-3.06s-1.82-1.45-3.12-2.01c-1.26-.56-2.66-1.1-4.23-1.62-1.52-.52-3.03-1.1-4.55-1.76-1.52-.69-2.93-1.54-4.23-2.53-1.26-1.04-2.27-2.32-3.06-3.84-.78-1.56-1.17-3.51-1.17-5.85,0-2.82.67-5.24,2.01-7.28,1.39-2.04,3.29-3.57,5.72-4.61,2.43-1.08,5.22-1.62,8.39-1.62s6.13.56,8.77,1.69c2.69,1.13,4.9,2.66,6.63,4.61l-6.63,6.57c-1.39-1.43-2.79-2.49-4.23-3.18-1.39-.69-2.97-1.04-4.74-1.04s-3.18.35-4.22,1.04c-1.04.65-1.56,1.6-1.56,2.86,0,1.17.39,2.12,1.17,2.86.78.69,1.8,1.3,3.05,1.82,1.3.52,2.71,1.04,4.23,1.56,1.56.52,3.1,1.13,4.61,1.82,1.52.69,2.9,1.58,4.16,2.66,1.3,1.04,2.34,2.38,3.12,4.03.78,1.6,1.17,3.6,1.17,5.98,0,4.38-1.56,7.82-4.68,10.33-3.12,2.47-7.43,3.71-12.93,3.71Z"/>
				</svg>
				<svg class="absolute" id="second_bar" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 782 129">
				<defs>
					<style>
					.stroke {
						fill: #1e35fe;
						stroke: #1e35fe;
						stroke-width: 5px;
					}

					.fill {
						fill: #fff;
					}
					</style>
				</defs>
				<path class="stroke" d="M64.5,2.5h653c34.24,0,62,27.76,62,62h0c0,34.24-27.76,62-62,62H64.5c-34.24,0-62-27.76-62-62h0C2.5,30.26,30.26,2.5,64.5,2.5Z"/>
				<path class="fill" d="M62.05,89.71c-3.77,0-7.02-.61-9.75-1.82-2.69-1.26-5.16-3.14-7.41-5.65l6.63-6.57c1.47,1.69,3.1,3.01,4.88,3.96,1.82.91,3.92,1.37,6.31,1.37,2.17,0,3.84-.39,5.01-1.17,1.21-.78,1.82-1.86,1.82-3.25,0-1.26-.39-2.28-1.17-3.06s-1.82-1.45-3.12-2.01c-1.26-.56-2.67-1.1-4.22-1.62-1.52-.52-3.03-1.1-4.55-1.76-1.52-.69-2.93-1.54-4.23-2.53-1.26-1.04-2.27-2.32-3.06-3.84-.78-1.56-1.17-3.51-1.17-5.85,0-2.82.67-5.24,2.01-7.28,1.39-2.04,3.29-3.57,5.72-4.61,2.43-1.08,5.22-1.62,8.39-1.62s6.13.56,8.77,1.69c2.69,1.13,4.9,2.66,6.63,4.61l-6.63,6.57c-1.39-1.43-2.79-2.49-4.22-3.18-1.39-.69-2.97-1.04-4.74-1.04s-3.19.35-4.22,1.04c-1.04.65-1.56,1.6-1.56,2.86,0,1.17.39,2.12,1.17,2.86.78.69,1.8,1.3,3.06,1.82,1.3.52,2.71,1.04,4.22,1.56,1.56.52,3.1,1.13,4.62,1.82,1.52.69,2.9,1.58,4.16,2.66,1.3,1.04,2.34,2.38,3.12,4.03.78,1.6,1.17,3.6,1.17,5.98,0,4.38-1.56,7.82-4.68,10.33-3.12,2.47-7.43,3.71-12.93,3.71ZM113.92,89l-18.59-23.92,18.01-21.97h12.61l-20.28,23.85v-4.16l20.93,26.2h-12.68ZM86.17,89v-45.89h10.2v45.89h-10.2ZM130.85,89v-45.89h10.21v45.89h-10.21ZM149.9,89v-45.89h10.21v45.89h-10.21ZM157.76,89v-8.97h22.69v8.97h-22.69ZM186.33,89v-45.89h10.21v45.89h-10.21ZM194.2,89v-8.97h22.68v8.97h-22.68ZM234.45,89.71c-3.77,0-7.02-.61-9.75-1.82-2.69-1.26-5.16-3.14-7.41-5.65l6.63-6.57c1.47,1.69,3.1,3.01,4.88,3.96,1.82.91,3.92,1.37,6.3,1.37,2.17,0,3.84-.39,5.01-1.17,1.21-.78,1.82-1.86,1.82-3.25,0-1.26-.39-2.28-1.17-3.06s-1.82-1.45-3.12-2.01c-1.26-.56-2.66-1.1-4.23-1.62-1.52-.52-3.03-1.1-4.55-1.76-1.52-.69-2.93-1.54-4.23-2.53-1.26-1.04-2.27-2.32-3.06-3.84-.78-1.56-1.17-3.51-1.17-5.85,0-2.82.67-5.24,2.01-7.28,1.39-2.04,3.29-3.57,5.72-4.61,2.43-1.08,5.22-1.62,8.39-1.62s6.13.56,8.77,1.69c2.69,1.13,4.9,2.66,6.63,4.61l-6.63,6.57c-1.39-1.43-2.79-2.49-4.23-3.18-1.39-.69-2.97-1.04-4.74-1.04s-3.18.35-4.22,1.04c-1.04.65-1.56,1.6-1.56,2.86,0,1.17.39,2.12,1.17,2.86.78.69,1.8,1.3,3.05,1.82,1.3.52,2.71,1.04,4.23,1.56,1.56.52,3.1,1.13,4.61,1.82,1.52.69,2.9,1.58,4.16,2.66,1.3,1.04,2.34,2.38,3.12,4.03.78,1.6,1.17,3.6,1.17,5.98,0,4.38-1.56,7.82-4.68,10.33-3.12,2.47-7.43,3.71-12.93,3.71Z"/>
				</svg>
			</div>
		</section>	
		
		<section id="whyme">
			<section class="flex flex-row items-end justify-end">
				<FollowtheArrow></FollowtheArrow>
			</section>
			<h1 class="mt-72 md:mt-[550px]">why me?</h1>
			<div class="md:grid grid-cols-2">
			<div>
				<p>On the right you see my most recent project, which was developed in a group-setting, where i was a part of making the mock-up and coding the front-page.</p>
				<p>I love working with others and thrive in a team environment, where I learn from my fellow teammates as well as sharing my knowledge. </p>
				<p>See more projects:</p>
				<ul class="uppercase">
					<h6><a href="">Digital cleanup day</a></h6>
					<h6><a href="">Flid marked</a></h6>
					<h6><a href="">Vild mad</a></h6>
					<h6><a href="">Ark books</a></h6>
				</ul>
			</div>
			<div class="relative">
				<div class="absolute left-3 top-5 w-[228px]">
					<video autoplay loop muted src="Cleanup_video.webm"></video>
				</div>
				<div class="absolute w-[250px]">
					<svg id="phone" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352.41 757">
						<defs>
							<style>
							.phone_fill {
								fill: #236eff;
							}
							</style>
						</defs>
						<path class="phone_fill" d="M351.82,215.55c-10.16-8.33-.27-14.56,0-15.52.75-2.71.84-53.99,0-56.67-.69-2.16-3.89-2.34-4.05-2.73-2.11-5.35,3.58-83.23-3.22-106.01-4.69-15.63-21.48-31.19-35.95-33.35-26.7-3.99-218.28,3.04-265.73,0C-16.06,17.63,9.82,91.4,3.69,125.08c-.09.51-3.14,1.34-3.23,1.83-.33,1.83-.53,35.69,0,37.46.29.93,4.13,2.69,4.05,3.66-.11,1.13-3.83,2.2-4.05,2.74-.62,1.69-.6,34.87,0,36.56.73,2.01,3.82.47,4.05,3.66.09,1.36-3.65.62-4.05,1.83-.93,2.92.71,40.2,0,49.35l3.23,2.73v444.12c3.74,26.59,19.55,44.37,43.22,47.99h257.66c26.17-4.5,41.87-24.47,43.2-54.38l-.8-449.61c8.61-1.85,3.53-21.32,4.85-37.46ZM147.86,31.42c2.6-1.17,53.16-1.19,55.74,0,.89.39,1.58,2.16,1.22,3.19-1.07,2.94-53.48,2.38-56.14,1.38-1.36-.51-3.02-3.58-.82-4.56ZM333.23,704.45c-3.43,11.17-12.65,19.88-23.01,21.47-25.15,3.91-222.26-2.96-268.97,0-12.65-3.13-20.72-10.79-23.83-25.13V51.06c1.49-11.41,11.47-22.47,21.39-24.22,2.53-.43,45.32-.47,47.67,0,13.79,2.84,13.38,23.71,28.26,26.5,5.98,1.13,115.18,1.09,121.16,0,14.74-2.65,14.79-22.27,28.26-26.5,23.32,3.47,58.46-11.72,69.06,20.56v657.05Z"/>
					</svg>
				</div>
			</div>
			</div>
		</section>
	</article>
</MainLayout>

<style>
</style>
<script>

	import { inView } from "motion";

	const fadeinstatistik = document.querySelector(".fadeinstatistik");

	inView(fadeinstatistik, () => {
		fadeinstatistik.classList.add("animate__animated", "animate__fadeInLeft", "animate__delay-0.5s");
	});

	const statistik = document.querySelector(".statistik");

	inView(statistik, () => {
		statistik.classList.add("animate__animated", "animate__fadeIn", "animate__delay-0.7s");
	});

	const facts = document.querySelector(".facts");

	inView(facts, () => {
		facts.classList.add("animate__animated", "animate__fadeIn", "animate__delay-0.7s");
	});

	const save = document.querySelector(".save");

	inView(save, () => {
		save.classList.add("animate__animated", "animate__fadeIn", "animate__delay-0.7s");
	});

</script>