<section class="w-full overflow-hidden">
    <div class="w-full">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1513 205" fill="none">
            <path d="M0 50.9229V205H1513V50.9229C1394.92 4.89981 1217.97 -1.93688 1144.26 0.397663C1059.4 -0.802937 957.8 33.5809 917.607 50.9229C777.114 114.955 576.214 130.629 493.326 130.463C366.842 137.266 111.741 80.271 0 50.9229Z" fill="#DB901B"/>
        </svg>
    </div>
    <div class="bg-[#DB901B]">
        <slot/>
    </div>
    <div class="w-full">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1513 188" fill="none">
            <path d="M0 129.5V0H1512.5V113C1495.7 97.8 1408.83 86.3333 1367.5 82.5C1300.7 73.3 1232.33 76.3333 1206.5 79C1121.7 91 1034.17 121.667 1001 135.5C892.6 181.9 800.167 189.5 767.5 187.5C696.3 192.3 598.5 161.167 558.5 145C422.5 84.6 328.5 73.8333 298.5 76C151.7 74 38.3333 110.833 0 129.5Z" fill="#DB901B"/>
        </svg>
    </div>
</section>

